@import '../../../scss/mixins';

.comment {
  padding: $space 0;
  display: flex;
  flex-direction: column;
  grid-gap: 4px;

  &__date {
    @include font(11, 14);
    color: $gray;
  }

  &__author {
    @include font(16, 18, 500);
  }

  &__content {
    @include font(12, 14, 400);
    color: $gray;
  }
}