@import '../../../scss/mixins';

.comment-form {
  display: flex;
  flex-direction: column;
  background-color: $bg-brighter;
  padding: $space*5 $space*2;

  &__title {
    @include font(20, 24, 600);
    position: relative;

    &::before,
    &::after {
      content: '';
      height: 1px;
      position: absolute;
      left: 0;
      background-color: $white;
    }

    &::before {
      width: 60px;
      top: calc(100% + #{$space/2});
    }

    &::after {
      width: 40px;
      top: calc(100% + #{$space});
    }
  }

  &__grid {
    margin-top: $space*3;
    grid-gap: $space*2;
    grid-template-columns: 1fr;

    @include for-size(tablet-up) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__input {
    border: 1px solid $gray;
    background-color: inherit;
    padding: $space/2;
    @include font(14, 16);
    color: $gray;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: $space;

    &:first-child {
      margin-top: 0;
    }

    @include for-size(tablet-up) {
      width: auto;
      margin-top: 0;
    }

    &::placeholder {
      @include font(14, 16);
      color: $gray;
    }

    &--textarea {
      grid-column: 1/3;
      height: 100px;
    }
  }

  &__submit {
    @include font(18, 18, 600);
    background-color: $accent-element-color;
    padding: $space*1.5 $space*5;
    border: 0;
    color: $white;
    font-weight: 600;
    cursor: pointer;
    margin-top: $space*2;

    &:hover,
    &:focus,
    &:active {
      background-color: $accent-element-hover-color;
    }
  }
}